PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=campus_db
DB_USER=postgres
DB_PASSWORD=postgres

# Origen(es) permitido(s) para CORS, separados por coma. Usa * para permitir todos (solo dev)
CORS_ORIGIN=*

# Firebase Admin SDK (service account)
FIREBASE_TYPE=service_account
FIREBASE_PROJECT_ID=appmvpgestion-mbz
FIREBASE_PRIVATE_KEY_ID=0265bda0d10776953f6c0a2f3e0f99eb27e7caa2
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDoDHVu1miBGwDi\nIj9F3PxYrkdbqfAr6QvRSAz5nJwlOYIvkOMOl5vVmMCcgfVH9aqHxFA2UAD1PLAD\ngsd...\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@appmvpgestion-mbz.iam.gserviceaccount.com
FIREBASE_CLIENT_ID=100289439518590712531
FIREBASE_AUTH_URI=https://accounts.google.com/o/oauth2/auth
FIREBASE_TOKEN_URI=https://oauth2.googleapis.com/token
FIREBASE_AUTH_PROVIDER_X509_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
FIREBASE_CLIENT_X509_CERT_URL=https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-fbsvc%40appmvpgestion-mbz.iam.gserviceaccount.com
